In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# Customers Data

In [4]:
customers = pd.read_excel('customers.xlsx')
customers.head()

,CustomerID,CustomerName,Email,Gender,Age,GeographyID
0,1,Emma Anderson,emma.anderson@example.com,Male,50,2
1,2,Sarah Brown,sarah.brown@example.com,Female,37,4
2,3,Robert Hernandez,robert.hernandez@example.com,Female,26,6
3,4,David Garcia,david.garcia@example.com,Male,25,8
4,5,Emma Miller,emma.miller@example.com,Female,41,4

In [6]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    100 non-null    int64
 1   CustomerName  100 non-null    object
 2   Email         100 non-null    object
 3   Gender        100 non-null    object
 4   Age           100 non-null    int64
 5   GeographyID   100 non-null    int64
dtypes: int64(3), object(3)
memory usage: 4.8+ KB

In [6]:
customers.to_excel('updatd_customer.xlsx')

# Customer Reviews

In [9]:
cust_reviews = pd.read_excel('customer_reviews.xlsx')
cust_reviews.head()

,ReviewID,CustomerID,ProductID,ReviewDate,Rating,ReviewText
0,1,77,18,2023-12-23,3,"Average experience, nothing special."
1,2,80,19,2024-12-25,5,The quality is top-notch.
2,3,50,13,2025-01-26,4,Five stars for the quick delivery.
3,4,78,15,2025-04-21,3,"Good quality, but could be cheaper."
4,5,64,2,2023-07-16,3,"Average experience, nothing special."

In [11]:
cust_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1363 entries, 0 to 1362
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ReviewID    1363 non-null   int64
 1   CustomerID  1363 non-null   int64
 2   ProductID   1363 non-null   int64
 3   ReviewDate  1363 non-null   datetime64[ns]
 4   Rating      1363 non-null   int64
 5   ReviewText  1363 non-null   object
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 64.0+ KB

In [13]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [15]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [17]:
sia = SentimentIntensityAnalyzer()

In [19]:
sia.polarity_scores('WOW! This product is awesome and great and sugest other to buy now')

{'neg': 0.0, 'neu': 0.434, 'pos': 0.566, 'compound': 0.9328}

In [21]:
def sentiment_review(review):
    sentiment = sia.polarity_scores(review)
    return sentiment['compound']

In [23]:
cust_reviews['ReviewText'] = cust_reviews['ReviewText'].str.replace('  ',' ')

In [25]:
cust_reviews['sentiment_score'] = cust_reviews['ReviewText'].apply(sentiment_review)

In [27]:
cust_reviews

,ReviewID,CustomerID,ProductID,ReviewDate,Rating,ReviewText,sentiment_score
0,1,77,18,2023-12-23,3,"Average experience, nothing special.",-0.3089
1,2,80,19,2024-12-25,5,The quality is top-notch.,0.0000
2,3,50,13,2025-01-26,4,Five stars for the quick delivery.,0.0000
3,4,78,15,2025-04-21,3,"Good quality, but could be cheaper.",0.2382
4,5,64,2,2023-07-16,3,"Average experience, nothing special.",-0.3089
...,...,...,...,...,...,...,...
1358,1359,28,4,2023-05-25,3,Not worth the money.,-0.1695
1359,1360,58,12,2023-11-13,2,"Average experience, nothing special.",-0.3089
1360,1361,96,15,2023-03-07,5,Customer support was very helpful.,0.6997
1361,1362,99,2,2025-12-03,1,Product did not meet my expectations.,0.0000
1362,1363,16,4,2024-07-16,2,The product arrived late.,0.0000

In [29]:
def sentiment_catogary(score, rating):
    if score < -0.05:
        if rating < 3:
            return 'Negative'         #negative score and negative rating
        elif rating == 3:
            return 'Mixed negative'   #negative score and neutral rating
        else:
            return 'Mixed positive'   #negative score and high rating
    elif score > 0.05:
        if rating > 3:
            return 'Positive'         #positive score and high rating
        elif rating == 3:
            return 'Mixed positive'    #positive score and neutral rating
        else:
            return 'Mixed negative'
    else:
        if rating > 3:
            return 'Positive'           # neutral score and high rating
        elif rating == 3:
            return 'Neutral'            # neutral score and neutral rating 
        else:
            return 'Negative'            #neutral score and negative rating

In [31]:
cust_reviews['sentiment_category'] = cust_reviews.apply(lambda row: sentiment_catogary(row['sentiment_score'],row['Rating']),axis=1)

In [33]:
cust_reviews

,ReviewID,CustomerID,ProductID,ReviewDate,Rating,ReviewText,sentiment_score,sentiment_category
0,1,77,18,2023-12-23,3,"Average experience, nothing special.",-0.3089,Mixed negative
1,2,80,19,2024-12-25,5,The quality is top-notch.,0.0000,Positive
2,3,50,13,2025-01-26,4,Five stars for the quick delivery.,0.0000,Positive
3,4,78,15,2025-04-21,3,"Good quality, but could be cheaper.",0.2382,Mixed positive
4,5,64,2,2023-07-16,3,"Average experience, nothing special.",-0.3089,Mixed negative
...,...,...,...,...,...,...,...,...
1358,1359,28,4,2023-05-25,3,Not worth the money.,-0.1695,Mixed negative
1359,1360,58,12,2023-11-13,2,"Average experience, nothing special.",-0.3089,Negative
1360,1361,96,15,2023-03-07,5,Customer support was very helpful.,0.6997,Positive
1361,1362,99,2,2025-12-03,1,Product did not meet my expectations.,0.0000,Negative
1362,1363,16,4,2024-07-16,2,The product arrived late.,0.0000,Negative

In [ ]:
cust_reviews.to_excel('updated_customer_reviews.xlsx')

# Customer journey

In [36]:
cust_journey = pd.read_excel('customer_journey.xlsx')

In [37]:
cust_journey.head()

,JourneyID,CustomerID,ProductId,VisitDate,Stage,Action,Duration
0,1,64,18,2024-06-10,Checkout,Drop-off,NaN
1,2,94,11,2025-07-09,Checkout,Drop-off,NaN
2,3,34,8,2024-06-14,ProductPage,View,235.0
3,4,33,18,2025-05-28,Checkout,Drop-off,NaN
4,5,91,10,2023-02-11,Homepage,Click,156.0

In [40]:
cust_journey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4011 entries, 0 to 4010
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   JourneyID   4011 non-null   int64
 1   CustomerID  4011 non-null   int64
 2   ProductId   4011 non-null   int64
 3   VisitDate   4011 non-null   datetime64[ns]
 4   Stage       4011 non-null   object
 5   Action      4011 non-null   object
 6   Duration    3398 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 219.5+ KB

In [42]:
cust_journey.drop_duplicates(inplace= True)

In [44]:
cust_journey['Stage'] = cust_journey.Stage.str.lower()
cust_journey.Stage.unique()

array(['checkout', 'productpage', 'homepage'], dtype=object)

In [46]:
cust_journey['Duration'].fillna(cust_journey.groupby('Stage')['Duration'].transform('mean'),inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_4516\51770771.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cust_journey['Duration'].fillna(cust_journey.groupby('Stage')['Duration'].transform('mean'),inplace=True)

In [48]:
cust_journey['Duration'].isna().sum()

0

In [50]:
cust_journey

,JourneyID,CustomerID,ProductId,VisitDate,Stage,Action,Duration
0,1,64,18,2024-06-10,checkout,Drop-off,157.467337
1,2,94,11,2025-07-09,checkout,Drop-off,157.467337
2,3,34,8,2024-06-14,productpage,View,235.000000
3,4,33,18,2025-05-28,checkout,Drop-off,157.467337
4,5,91,10,2023-02-11,homepage,Click,156.000000
...,...,...,...,...,...,...,...
3984,2655,84,4,2023-10-09,homepage,View,146.000000
3991,2653,86,2,2023-06-08,productpage,Click,247.000000
3997,97,92,19,2025-05-26,homepage,View,203.000000
4005,3531,70,5,2025-08-04,checkout,Drop-off,157.467337
4007,1248,17,8,2023-12-13,homepage,Click,153.000000

In [ ]:
cust_journey.to_excel('updated_customer_journey.xlsx')

# Geography Data

In [53]:
geography = pd.read_excel('geography.xlsx')
geography.head()

   ID   Region    City
0   1       UK  London
1   2  Germany  Berlin
2   3   France   Paris
3   4    Spain  Madrid
4   5    Italy    Rome

In [55]:
geography.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      10 non-null     int64
 1   Region  10 non-null     object
 2   City    10 non-null     object
dtypes: int64(1), object(2)
memory usage: 372.0+ bytes

In [57]:
geography.City.unique()

array(['London', 'Berlin', 'Paris', 'Madrid', 'Rome', 'Amsterdam',
       'Brussels', 'Stockholm', 'Zurich', 'Vienna'], dtype=object)

In [59]:
geography.to_excel('updated_geography.xlsx')

# Product

In [62]:
product = pd.read_excel('products.xlsx')

In [64]:
product.head()

   ProductID      ProductName Category   Price
0          1    Running Shoes   Sports  223.75
1          2  Fitness Tracker   Sports  196.68
2          3         Yoga Mat   Sports  485.32
3          4        Dumbbells   Sports   26.21
4          5      Soccer Ball   Sports   41.26

In [66]:
product.isna().sum()

ProductID      0
ProductName    0
Category       0
Price          0
dtype: int64

In [ ]:
product.to_excel('updated_product.xlsx')

# Engagement

In [69]:
engagement = pd.read_excel('engagement_data.xlsx')
engagement.head()

,EngagementID,ContentID,ContentType,Likes,EngagementDate,CompaignID,ProductID,ViewsClickCombined
0,1,39,Blog,190,2023-08-30,1,9,1883-671
1,2,48,Blog,114,2023-03-28,18,20,5280-532
2,3,16,video,32,2023-12-08,7,14,1905-204
3,4,43,Video,17,2025-01-21,19,20,2766-257
4,5,16,newsletter,306,2024-02-21,6,15,5116-1524

In [70]:
engagement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4623 entries, 0 to 4622
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   EngagementID        4623 non-null   int64
 1   ContentID           4623 non-null   int64
 2   ContentType         4623 non-null   object
 3   Likes               4623 non-null   int64
 4   EngagementDate      4623 non-null   datetime64[ns]
 5   CompaignID          4623 non-null   int64
 6   ProductID           4623 non-null   int64
 7   ViewsClickCombined  4623 non-null   object
dtypes: datetime64[ns](1), int64(5), object(2)
memory usage: 289.1+ KB

In [73]:
engagement['views'] = engagement.ViewsClickCombined.str.split('-').str[0]
engagement['clicks'] = engagement.ViewsClickCombined.str.split('-').str[1]

In [75]:
engagement = engagement.drop('ViewsClickCombined',axis=1)

In [77]:
engagement.dropna(inplace=True)

In [79]:
engagement.views = engagement.views.astype('int')

In [81]:
engagement.clicks = engagement.clicks.astype('int')

In [83]:
engagement.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4621 entries, 0 to 4622
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EngagementID    4621 non-null   int64
 1   ContentID       4621 non-null   int64
 2   ContentType     4621 non-null   object
 3   Likes           4621 non-null   int64
 4   EngagementDate  4621 non-null   datetime64[ns]
 5   CompaignID      4621 non-null   int64
 6   ProductID       4621 non-null   int64
 7   views           4621 non-null   int32
 8   clicks          4621 non-null   int32
dtypes: datetime64[ns](1), int32(2), int64(5), object(1)
memory usage: 324.9+ KB

In [89]:
engagement.head()

,EngagementID,ContentID,ContentType,Likes,EngagementDate,CompaignID,ProductID,views,clicks
0,1,39,blog,190,2023-08-30,1,9,1883,671
1,2,48,blog,114,2023-03-28,18,20,5280,532
2,3,16,video,32,2023-12-08,7,14,1905,204
3,4,43,video,17,2025-01-21,19,20,2766,257
4,5,16,newsletter,306,2024-02-21,6,15,5116,1524

In [99]:
engagement.Likes.sum(), engagement.clicks.sum(), ((engagement.Likes.sum() + engagement.clicks.sum())/engagement.views.sum())*100

(528726, 2301961, 24.06111740590604)

In [85]:
engagement.ContentType = engagement.ContentType.str.lower()

In [ ]:
engagement.to_excel('updated_engagement.xlsx')

# purchase

In [112]:
purchase= pd.merge(cust_reviews,product,on='ProductID',how='inner')

In [118]:
purchase = purchase[['CustomerID', 'ProductID', 'ProductName','Price']]
purchase.head()

   CustomerID  ProductID      ProductName   Price
0          77         18       Volleyball   42.80
1          80         19     Hockey Stick  173.83
2          50         13     Swim Goggles  145.97
3          78         15    Climbing Rope  410.17
4          64          2  Fitness Tracker  196.68

In [120]:
purchase.to_excel('purchase.xlsx')